.header-index {
    height: 41px;
    background: #fff;
    padding: 18px 0 15px 0;
    .layout {
      width: 1200px;
      margin: 0 auto;
      height: 40.8px;
      .left {
        float: left;
        .logo {
          height: 40.8px;
          float: left;
          a {
            img {
              width: 205px;
              height: 40.8px;
              margin-right: 34px;
            }
          }
        }
        .naver {
          float: left;
          width: 585px;
          height: 40px;
          overflow: hidden;
          .naver-list {
            li {
              float: left;
              margin-right: 24px;
            }
            .img {
              width: 74px;
              height: 24px;
              margin-top: 7px;
              a {
                img {
                  width: 74px;
                  height: 24px;
                }
              }
            }
            #hauwei {
              a {
                font-size: 16px;
                color: #333;
                line-height: 40px;
                display: block;
                &:hover {
                  color: #ca141d;
                }
              }
            }
          }
        }
      }
      .right {
        float: right;
        .search-box {
          width: 320px;
          height: 35px;
          margin-top: 5px;
          background: #f0f0f0;
          border-radius: 17px;
          form {
            margin-top: 5px;
            position: relative;
            .recommend {
              width: 120px;
              height: 30px;
              left: 170px;
              top: 3px;
              position: absolute;
              a {
                font-size: 12px;
                line-height: 30px;
                padding-left: 5px;
                &:hover {
                  color: #ca141d;
                }
              }
            }
            .text {
              float: left;
              background: #f0f0f0;
              width: 275px;
              height: 25px;
              border-radius: 15px 0 0 15px;
              font-size: 12px;
              padding: 5px 0 0 10px;
            }
            button {
              float: left;
              background: #f0f0f0;
              width: 35px;
              height: 30px;
              padding: 0;
              border: 0;
              padding-top: 6px;
              border-radius: 0 15px 15px 0;
              outline: none;
            }
          }
        }
      }
    }
  }
  .banner {
    height: 550px;
    .swiper-container {
      position: relative;
      height: 550px;
      width: 1200px;
      margin: 0 auto;
      .swiper-wrapper {
        #ban1 {
          a {
            height: 550px;
            width: 1200px;
            display: block;
            background-size: 100% auto;
            background: url("../images/banner1.jpg") no-repeat center center;
          }
        }
        #ban2 {
          a {
            height: 550px;
            width: 1200px;
            display: block;
            background-size: 100% auto;
            background: url("../images/banner2.jpg") no-repeat center center;
          }
        }
        #ban3 {
          a {
            height: 550px;
            width: 1200px;
            display: block;
            background-size: 100% auto;
            background: url("../images/banner3.jpg") no-repeat center center;
          }
        }
        #ban4 {
          a {
            height: 550px;
            width: 1200px;
            display: block;
            background-size: 100% auto;
            background: url("../images/banner4.jpg") no-repeat center center;
          }
        }
        #ban5 {
          a {
            height: 550px;
            width: 1200px;
            display: block;
            background-size: 100% auto;
            background: url("../images/banner5.jpg") no-repeat center center;
          }
        }
        #ban6 {
          a {
            height: 550px;
            width: 1200px;
            display: block;
            background-size: 100% auto;
            background: url("../images/banner6.jpg") no-repeat center center;
          }
        }
        #ban7 {
          a {
            height: 550px;
            width: 1200px;
            display: block;
            background-size: 100% auto;
            background: url("../images/banner7.jpg") no-repeat center center;
          }
        }
      }
      .swiper-pagination {
        left: 500px;
        span {
          width: 12px;
          height: 12px;
          border: 2px solid #fff;
          background: none;
        }
        .swiper-pagination-bullet-active {
          background: #fff;
        }
      }
      .swiper-button-next {
        background-color: #333;
        opacity: 0.5;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: none;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 14px;
        &:hover {
          opacity: 1;
        }
      }
      .swiper-button-prev {
        left: 210px;
        background-color: #333;
        opacity: 0.5;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: none;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 14px;
        &:hover {
          opacity: 1;
        }
      }
      .category {
        width: 200px;
        height: 440px;
        background: #f9f9f9;
        position: absolute;
        top: 30px;
        left: 10px;
        z-index: 500;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #888888;
        ul {
          .cat1 {
            height: 74px;
            line-height: 36.4px;
            width: 190px;
            padding-left: 10px;
            .last-p {
              border-bottom: 1px solid #a6a6a6;
            }
            p {
              width: 160px;
              i {
                a {
                  font-size: 16px;
                  color: #848484;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
              span {
                margin-right: 10px;
                a {
                  color: #a6a6a6;
                  font-size: 14px;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
            }
            &:hover {
              background: white;
              border-radius: 10px 0 0 10px;
              p {
                span {
                  a {
                    font-weight: 800;
                  }
                }
                i {
                  a {
                    font-weight: 800;
                  }
                }
              }
              .gory1 {
                display: block;
              }
            }
          }
          .cat2 {
            height: 73px;
            line-height: 36.4px;
            width: 190px;
            padding-left: 10px;
            .last-p {
              border-bottom: 1px solid #a6a6a6;
            }
            p {
              width: 160px;
              i {
                a {
                  font-size: 16px;
                  color: #848484;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
              span {
                margin-right: 10px;
                a {
                  color: #a6a6a6;
                  font-size: 14px;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
            }
            &:hover {
              background: white;
              border-radius: 10px 0 0 10px;
              p {
                span {
                  a {
                    font-weight: 800;
                  }
                }
                i {
                  a {
                    font-weight: 800;
                  }
                }
              }
              div {
                display: block;
              }
            }
          }
          .cat3 {
            height: 73px;
            line-height: 36.4px;
            width: 190px;
            padding-left: 10px;
            .last-p {
              border-bottom: 1px solid #a6a6a6;
            }
            p {
              width: 160px;
              i {
                a {
                  font-size: 16px;
                  color: #848484;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
              span {
                margin-right: 10px;
                a {
                  color: #a6a6a6;
                  font-size: 14px;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
            }
            &:hover {
              background: white;
              border-radius: 10px 0 0 10px;
              p {
                span {
                  a {
                    font-weight: 800;
                  }
                }
                i {
                  a {
                    font-weight: 800;
                  }
                }
              }
              div {
                display: block;
              }
            }
          }
          .cat4 {
            height: 73px;
            line-height: 36.4px;
            width: 190px;
            padding-left: 10px;
            .last-p {
              border-bottom: 1px solid #a6a6a6;
            }
            p {
              width: 160px;
              i {
                a {
                  font-size: 16px;
                  color: #848484;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
              span {
                margin-right: 10px;
                a {
                  color: #a6a6a6;
                  font-size: 14px;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
            }
            &:hover {
              background: white;
              border-radius: 10px 0 0 10px;
              p {
                span {
                  a {
                    font-weight: 800;
                  }
                }
                i {
                  a {
                    font-weight: 800;
                  }
                }
              }
              div {
                display: block;
              }
            }
          }
          .cat5 {
            height: 73px;
            line-height: 36.4px;
            width: 190px;
            padding-left: 10px;
            .last-p {
              border-bottom: 1px solid #a6a6a6;
            }
            p {
              width: 160px;
              i {
                a {
                  font-size: 16px;
                  color: #848484;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
              span {
                margin-right: 10px;
                a {
                  color: #a6a6a6;
                  font-size: 14px;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
            }
            &:hover {
              background: white;
              border-radius: 10px 0 0 10px;
              p {
                span {
                  a {
                    font-weight: 800;
                  }
                }
                i {
                  a {
                    font-weight: 800;
                  }
                }
              }
              div {
                display: block;
              }
            }
          }
          .cat6 {
            height: 73px;
            line-height: 36.4px;
            width: 190px;
            padding-left: 10px;
            .last-p {
              border-bottom: 1px solid #a6a6a6;
              border: 0px;
            }
            p {
              width: 160px;
              i {
                a {
                  font-size: 16px;
                  color: #848484;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
              span {
                margin-right: 10px;
                a {
                  color: #a6a6a6;
                  font-size: 14px;
                  &:hover {
                    color: #ca141d;
                  }
                }
              }
            }
            &:hover {
              background: white;
              border-radius: 10px 0 0 10px;
              p {
                span {
                  a {
                    font-weight: 800;
                  }
                }
                i {
                  a {
                    font-weight: 800;
                  }
                }
              }
              div {
                display: block;
              }
            }
          }
        }
      }
      .gory1 {
        width: 600px;
        height: 440px;
        background: white;
        position: absolute;
        top: 0px;
        left: 190px;
        z-index: 900;
        display: none;
        ._gory1 {
          width: 120px;
          height: 70px;
          background: white;
          margin: 20px 40px 40px 20px;
          padding-left: 20px;
          &:hover {
            background: #f9f9f9;
            border-radius: 10px;
          }
          div {
            float: left;
          }
          ._g2 {
            img {
              height: 70px;
            }
          }
          ._g1 {
            height: 70px;
            line-height: 70px;
          }
        }
      }
      .gory2 {
        width: 400px;
        height: 440px;
        background: white;
        position: absolute;
        top: 0px;
        left: 190px;
        z-index: 900;
        display: none;
        ._gory1 {
          width: 120px;
          height: 70px;
          background: white;
          margin: 20px 40px 40px 20px;
          padding-left: 20px;
          &:hover {
            background: #f9f9f9;
            border-radius: 10px;
          }
          div {
            float: left;
          }
          ._g2 {
            img {
              height: 70px;
            }
          }
          ._g1 {
            height: 70px;
            line-height: 70px;
          }
        }
      }
      .gory3 {
        width: 600px;
        height: 440px;
        background: white;
        position: absolute;
        top: 0px;
        left: 190px;
        z-index: 900;
        display: none;
        ._gory1 {
          width: 120px;
          height: 70px;
          background: white;
          margin: 20px 40px 40px 20px;
          padding-left: 20px;
          &:hover {
            background: #f9f9f9;
            border-radius: 10px;
          }
          div {
            float: left;
          }
          ._g2 {
            img {
              height: 70px;
            }
          }
          ._g1 {
            height: 70px;
            line-height: 70px;
          }
        }
      }
      .gory4 {
        width: 400px;
        height: 440px;
        background: white;
        position: absolute;
        top: 0px;
        left: 190px;
        z-index: 900;
        display: none;
        ._gory1 {
          width: 120px;
          height: 70px;
          background: white;
          margin: 20px 40px 40px 20px;
          padding-left: 20px;
          &:hover {
            background: #f9f9f9;
            border-radius: 10px;
          }
          div {
            float: left;
          }
          ._g2 {
            img {
              height: 70px;
            }
          }
          ._g1 {
            height: 70px;
            line-height: 70px;
          }
        }
      }
      .gory5 {
        width: 600px;
        height: 440px;
        background: white;
        position: absolute;
        top: 0px;
        left: 190px;
        z-index: 900;
        display: none;
        ._gory1 {
          width: 120px;
          height: 70px;
          background: white;
          margin: 20px 40px 40px 20px;
          padding-left: 20px;
          &:hover {
            background: #f9f9f9;
            border-radius: 10px;
          }
          div {
            float: left;
          }
          ._g2 {
            img {
              height: 70px;
            }
          }
          ._g1 {
            height: 70px;
            line-height: 70px;
          }
        }
      }
      .gory6 {
        width: 400px;
        height: 440px;
        background: white;
        position: absolute;
        top: 0px;
        left: 190px;
        z-index: 900;
        display: none;
        ._gory1 {
          width: 120px;
          height: 70px;
          background: white;
          margin: 20px 40px 40px 20px;
          padding-left: 20px;
          &:hover {
            background: #f9f9f9;
            border-radius: 10px;
          }
          div {
            float: left;
          }
          ._g2 {
            img {
              height: 70px;
            }
          }
          ._g1 {
            height: 70px;
            line-height: 70px;
          }
        }
      }
    }
  }
  .home-channel {
    height: 88px;
    background: #fff;
    .home-connet {
      width: 1200px;
      margin: 0 auto;
      height: 88px;
      border-radius: 10px;
      box-shadow: 0 2px 26px rgba(0, 0, 0, 0.07);
      .home-c1 {
        width: 270px;
        height: 88px;
        float: left;
        .ho-all {
          width: 243px;
          height: 52px;
          padding-left: 26px;
          margin-top: 20px;
          border-right: 1px solid #a6a6a6;
          .ho-1 {
            width: 52px;
            height: 52px;
            float: left;
            img {
              width: 52px;
              height: 52px;
            }
          }
          .ho-2 {
            height: 52px;
            float: left;
            .ho-t {
              color: #888888;
              padding-left: 10px;
              line-height: 25px;
              a {
                &:hover {
                  color: #ca141d;
                }
              }
            }
            .ho-b {
              line-height: 25px;
              padding-left: 15px;
              .newpeople {
                width: 66px;
                height: 20px;
                line-height: 20px;
                background: #fff;
                border: 1px solid #e47b7f;
                color: #de5b60;
                margin-right: 8px;
                border-radius: 5px;
                font-size: 13px;
                display: inline-block;
                text-align: center;
                &:hover {
                  color: red;
                }
              }
              .vippeople {
                display: inline-block;
                width: 68px;
                height: 22px;
                text-align: center;
                line-height: 22px;
                background: #595454;
                color: #fde4b3;
                border-radius: 5px;
                font-size: 13px;
              }
            }
          }
        }
      }
      .home-c2 {
        width: 660px;
        height: 88px;
        float: left;
        ul {
          width: 659px;
          height: 88px;
          border-right: 1px solid #c4c4c4;
          li {
            float: left;
            width: 104px;
            height: 64px;
            margin-top: 18px;
            margin-left: 5px;
            text-align: center;
            ._p1 {
              background: url("../images/jinglingtu.png") no-repeat;
              width: 40px;
              height: 40px;
              margin: 0 30px 0 30px;
              background-size: cover;
            }
            ._p2 {
              background: url("../images/jinglingtu.png") no-repeat -40px 0;
              width: 40px;
              height: 40px;
              margin: 0 30px 0 30px;
              background-size: cover;
            }
            ._p3 {
              background: url("../images/jinglingtu.png") no-repeat -80px 0;
              width: 40px;
              height: 40px;
              margin: 0 30px 0 30px;
              background-size: cover;
            }
            ._p4 {
              background: url("../images/jinglingtu.png") no-repeat -120px 0;
              width: 40px;
              height: 40px;
              margin: 0 30px 0 30px;
              background-size: cover;
            }
            ._p5 {
              background: url("../images/jinglingtu.png") no-repeat -160px 0;
              width: 40px;
              height: 40px;
              margin: 0 30px 0 30px;
              background-size: cover;
            }
            ._p6 {
              background: url("../images/jinglingtu.png") no-repeat -200px 0;
              width: 40px;
              height: 40px;
              margin: 0 30px 0 30px;
              background-size: cover;
            }
            div {
              font-size: 12px;
              margin-top: 2px;
              a {
                &:hover {
                  color: #ca141d;
                }
              }
            }
          }
        }
      }
      .home-c3 {
        width: 270px;
        height: 88px;
        float: left;
        .c3-t {
          width: 266px;
          height: 44px;
          .c3-t1 {
            line-height: 44px;
            padding-left: 10px;
            font-weight: 600;
            width: 40px;
            float: left;
          }
          .c3-t2 {
            width: 210px;
            line-height: 44px;
            height: 44px;
            overflow: hidden;
            float: left;
            a {
              font-size: 14px;
              &:hover {
                color: #ca141d;
              }
            }
          }
        }
        .c3-b {
          height: 44px;
          line-height: 44px;
          border-top: 1px solid #c4c4c4;
          span {
            padding-left: 16px;
            font-size: 16px;
            &:hover {
              color: #ca141d;
            }
          }
        }
      }
    }
  }
  .fourRec {
    height: 250px;
    .f-1 {
      height: 250px;
      width: 1200px;
      margin: 0 auto;
      div {
        width: 290px;
        height: 200px;
        float: left;
        margin-top: 20px;
        margin-right: 13px;
        a {
          width: 290px;
          height: 200px;
          display: block;
          &:hover {
            box-shadow: 1px 1px 10px 0px #888888;
            transition: 1s;
          }
        }
      }
      ._f-1 {
        background: url("../images/mata_20.png") no-repeat;
      }
      ._f-2 {
        background: url("../images/rongyao_v20.jpg") no-repeat;
      }
      ._f-3 {
        background: url("../images/rongyao8x.jpg") no-repeat;
      }
      ._f-4 {
        margin-right: 0px;
        background: url("../images/huawei_nova20.png") no-repeat;
      }
    }
  }
  .hostsale {
    height: 670px;
    .sale-con {
      width: 1200px;
      margin: 0 auto;
      height: 666px;
      h2 {
        width: 1200px;
        height: 40px;
        font-size: 26px;
        color: #333;
        padding-top: 27px;
      }
      .sale-bot {
        width: 1200px;
        height: 600px;
        .sale-l {
          width: 230px;
          height: 600px;
          padding-right: 8px;
          float: left;
          border-radius: 10px;
          a {
            width: 230px;
            height: 600px;
            display: block;
            &:hover {
              box-shadow: 1px 1px 4px 0px #888888;
            }
            img {
              height: 600px;
            }
          }
        }
        .sale-r {
          float: left;
          width: 962px;
          height: 600px;
          background: #fff;
          .sale-shop {
            border-radius: 10px;
            width: 230px;
            height: 290px;
            background: #f9f9f9;
            float: left;
            margin-left: 10px;
            margin-bottom: 18px;
            &:hover {
              box-shadow: 1px 1px 4px 0px #888888;
            }
            .sale-top {
              width: 230px;
              margin: 0 auto;
              height: 22px;
              text-align: center;
              em {
                background-color: #ff6a6e;
                display: inline-block;
                padding: 0 9px;
                margin: 0 auto;
                height: 22px;
                line-height: 22px;
                color: #fff;
                border-radius: 0 0 6px 6px;
                font-size: 12px;
              }
            }
            .sale-main {
              width: 220px;
              height: 180px;
              text-align: center;
              img {
                width: 150px;
                margin-top: 20px;
              }
            }
            .sale-foot {
              width: 230px;
              height: 80px;
              text-align: center;
              p {
                width: 230px;
                height: 25px;
                line-height: 25px;
              }
              .foot-1 {
                font-size: 14px;
                color: #3a3a3a;
              }
              .foot-2 {
                font-size: 12px;
                font-weight: 400;
                color: #777;
              }
              .foot-3 {
                color: #d0021b;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
          .stop-b {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  .bou-box {
    height: 327px;
    .bou-con {
      width: 1200px;
      margin: 0 auto;
      height: 327px;
      h2 {
        width: 1200px;
        height: 40px;
        font-size: 26px;
        color: #333;
        padding-top: 27px;
      }
      .bou-scoll {
        height: 260px;
        width: 1200px;
        overflow: hidden;
        position: relative;
        .grid-next {
          width: 36px;
          height: 72px;
          top: 101px;
          background: rgba(0, 0, 0, 0.06);
          text-align: center;
          position: absolute;
          top: 35px;
          line-height: 72px;
          font-size: 18px;
          z-index: 99;
          right: 0px;
        }
        .grid-return {
          width: 36px;
          height: 72px;
          top: 101px;
          background: rgba(0, 0, 0, 0.06);
          text-align: center;
          position: absolute;
          top: 35px;
          line-height: 72px;
          font-size: 18px;
          z-index: 99;
          left: 0px;
        }
        .show-ul {
          position: absolute;
          left: 0px;
          width: 2400px;
          height: 260px;
          li {
            width: 230px;
            height: 260px;
            float: left;
            margin-left: 10px;
            .show-img {
              text-align: center;
              width: 230px;
              height: 150px;
              img {
                width: 150px;
                height: 150px;
              }
            }
            p {
              text-align: center;
              width: 230px;
              height: 50px;
              line-height: 50px;
              background: #f3f3f3;
              color: #777;
              border-radius: 0 0 10px 10px;
            }
            .show_p {
              height: 60px;
              width: 230px;
              background: #fff;
              em {
                display: block;
                height: 30px;
                line-height: 30px;
                text-align: center;
                width: 230px;
                font-size: 14px;
                color: #3a3a3a;
              }
              i {
                display: block;
                width: 230px;
                text-align: center;
                font-size: 14px;
                color: #d00218;
              }
            }
          }
        }
      }
    }
  }
  .swiper_small {
    height: 120px;
    .small_s1 {
      width: 1200px;
      margin: 0 auto;
      height: 120px;
      .wrap {
        width: 1200px;
        height: 120px;
        position: relative;
        overflow: hidden;
        float: left;
      }
      .slidebox {
        width: 1200px;
        position: absolute;
        top: 0;
        left: 0;
        height: 120px;
        li {
          float: left;
          width: 1200px;
          height: 120px;
          left: 0;
          top: 0;
          img {
            display: block;
            width: 1200px;
            height: 120px;
          }
        }
      }
      .dot {
        position: absolute;
        width: 100%;
        height: 30px;
        text-align: right;
        bottom: 0;
        left: 0;
        .cur {
          background: white;
          color: #fff;
          border: 1px solid white;
        }
        p {
          margin-right: 10px;
        }
        b {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          color: #333;
          display: inline-block;
          border: 1px solid #fff;
          background: none;
          text-align: center;
          line-height: 10px;
          margin: 0 3px;
          margin-top: 10px;
          cursor: pointer;
          font-weight: normal;
        }
      }
    }
  }
  .phone_box {
    height: 1000px;
    .phone_con {
      width: 1200px;
      margin: 0 auto;
      height: 1000px;
      .phone_top {
        width: 1200px;
        height: 60px;
        .phont_l {
          height: 33px;
          width: 200px;
          font-size: 26px;
          color: #333;
          padding-top: 27px;
          float: left;
        }
        .phone_center {
          float: left;
          width: 900px;
          height: 60px;
          a {
            float: left;
            margin-top: 33px;
            margin-right: 20px;
            font-size: 14px;
            color: #999;
            &:hover {
              color: #ca141d;
            }
          }
        }
        .phont_r {
          float: left;
          width: 100px;
          height: 60px;
          .phone-more {
            margin-top: 33px;
            font-size: 14px;
            color: #333;
            margin-left: 24px;
            a {
              &:hover {
                color: #ca141d;
              }
            }
          }
        }
      }
      .phone_bottom {
        height: 1140px;
        height: 950px;
        a {
          .sale-shop {
            border-radius: 10px;
            width: 230px;
            height: 290px;
            background: #f9f9f9;
            float: left;
            margin-top: 10px;
            margin-right: 10px;
            &:hover {
              box-shadow: 1px 1px 4px 0px #888888;
            }
            .sale-top {
              width: 230px;
              margin: 0 auto;
              height: 22px;
              text-align: center;
              em {
                background-color: #ff6a6e;
                display: inline-block;
                padding: 0 9px;
                margin: 0 auto;
                height: 22px;
                line-height: 22px;
                color: #fff;
                border-radius: 0 0 6px 6px;
                font-size: 12px;
              }
            }
            .sale-main {
              width: 220px;
              height: 180px;
              text-align: center;
              img {
                width: 150px;
                margin-top: 20px;
              }
            }
            .sale-foot {
              width: 230px;
              height: 80px;
              text-align: center;
              p {
                width: 230px;
                height: 25px;
                line-height: 25px;
              }
              .foot-1 {
                font-size: 14px;
                color: #3a3a3a;
              }
              .foot-2 {
                font-size: 12px;
                font-weight: 400;
                color: #777;
              }
              .foot-3 {
                color: #d0021b;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
  