body {
    font-size: 14px;
    background: #f5f5f5;
}

$bg-color:#ca141d;
$ipt-bg:#f0f0f0;

.head-box,
.sub1,.conner {
    width: 1200px;
    margin: 0 auto;
}

#head {
    background: #fff;
    height: 41px;
    padding: 18px 0 15px;

}

.head-box {
    height: 41px;
    position: relative;

    h1 {
        float: left;
        width: 205px;
        margin-right: 34px;

        &>img {
            width: 100%;
            height: 100%;
        }
    }

    .nav {
        float: left;

        &>a {
            color: #000;

            font: {
                size: 16px;
            }

            line-height: 41px;

            &:hover {
                color: $bg-color; 
            }
        }

        &>li {
            @extend .nav;
            margin-right: 24px;
        }

    }

    .search-box {
        position: relative;
        float: right;
        width: 320px;
        height: 30px;
        background: $ipt-bg;
        border-radius: 15px;
        margin-top: 5px;

        .txt {
            width: 285px;
            height: 30px;
            background: $ipt-bg;
            border-radius: 15px;
            text-indent: 15px;
            font: {
                size: 12px;
            }
        }

        .btn {
            text-align: center;
            line-height: 30px;
            position: absolute;
            display: block;
            width: 35px;
            height: 30px;
            top: 0;
            right: 0;
        }
        .recommend{
            position: absolute;
            right: 25px;
            bottom: 9px;        
            white-space: nowrap;
            &>a{
                font: {
                    size: 12px;
                };
                margin: {
                    right: 14px;
                }
                color: #999;
                &:hover{
                    color: #333;
                }
            }
        }
    }

}
.sub-box{
    width: 100%;
    position: absolute;
    background: #fff;
    height: 272px;
    z-index: 10;
    display: none;
}
.nav-sub {
    // width: 100%;
    position: absolute;
    z-index: 10;
    display: none;
    left: 50%;
    margin: {
        left: -600px;
    }

    .sub1 {
        height: 272px;

        .sub-head {
            padding: {
                top: 5px;
            }

            line-height: 62px;
            height: 62px;

            &>h2 {
                float: left;
                width: 100px;
                line-height: 30px;

                font: {
                    size: 16px;
                }

                margin: {
                    right: 5px;
                }
            }

            &>i {
                position: absolute;
                display: block;
                left: 160px;
                top: 16px;
                width: 5px;
                height: 8px;
                background: url(../images/bg-2.png) -5px -177px no-repeat #fff;
            }

            &>ul {
                float: left;
                width: 900px;

                &>li {
                    float: left;
                    height: 30px;
                    line-height: 30px;

                    margin: {
                        left: 20px;
                        right: 20px;
                    }

                    &>a:hover {
                        color: $bg-color;
                    }
                }
            }

        }

        .sub-con {
            height: 206px;
            text-align: center;

            &>li {
                width: 160px;
                height: 206px;
                float: left;

                margin: {
                    left: 20px;
                    right: 20px;
                }
            }

            .con-img {
                margin-top: 20px;

                &>img {
                    width: 120px;
                    height: 120px;
                }
            }

            .con-name {
                margin: 10px 0 7px;
            }

            .con-money {
                color: $bg-color;
            }
        }
    }
}
.conner{
    min-height: 500px;
    &>h2{
         margin: {
             top:14px;
             bottom: 14px;
         }
         &>span{
             color: $bg-color;
         }
    }
    .pro-cate-sort{
        height: 50px;
        background: #fff;
       margin: {
            bottom: 20px;
        }
        &>P{
            float: left;
            width: 60px;
            height: 18px;
            text-align: right;
            padding: {
                top:17px;
            }
        }
        #sort-type{
            float: left;
            height: 50px;
            margin: {
                left: 30px;
            }
            &>li{
                line-height: 50px;
                float: left;
                margin: {
                    right: 20px;
                }
                &:hover{
                    color: $bg-color;
                    cursor: pointer;
                }
            }
            .act{
                color: $bg-color;
            }
        }
    }
    .shop-list{
        max-height: 1348px;
        overflow: hidden;
        .pro-list{
            max-height: 1292px;
            &>li{
                position: relative;
                float: left;
                width: 200px;
                height: 280px;
                background: #fff;
                padding: 14px 16px;
                margin: {
                    right: 8px;
                    bottom: 8px;
                }
                .p-img{
                    width: 200px;
                    height: 200px;
                    padding: {
                        bottom: 10px;
                    }
                    &>img{
                        width: 100%;
                    }
                }
                .p-name{
                    color: #666;
                    // font: {
                    //     size: 12px;
                    // };
                    text-align: left;
                }
                .p-money{
                    height: 36px;
                    line-height: 36px;
                    padding: {
                        top:15px;
                    }
                    &>b{
                        color: $bg-color;
                        margin: {
                            right: 10px;
                        }
                    }
                    &>span{
                        color: #888;
                    }
                }
                &:hover{
                    box: {
                        shadow :0 6px 15px #e4e4e4;
                    }
                    transform: translate3d(0px,-2px,0px);
                }
                .p-tag{
                    // display: block;
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    z-index: 2;
                    right: 15px;
                    bottom: 90px;                
                    // background: url(../images/bk-tag.png) no-repeat;
                }
            }
        }
        
    }
   
}
.pager{
    float: right;
    margin: {
        right: 20px;
    }
}