body {
    font-size: 14px;
    background: #f5f5f5;
}

$bg-color:#ca141d;

@mixin name {
    line-height: 40px;
    color: #a4a4a4;
    font-size: 12px;
}

@mixin input {
    background: url(../images/bg.png) no-repeat;
    border: 0 none;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: -18px -129px;
    margin-right: 10px;
}

@mixin ul {
    width: 970px;
    line-height: 28px;
}

@mixin li {
    font-size: 14px;
    float: left;
    width: 100px;
    text-align: center;
    margin-left: 30px;
    color: #3a3a3a;

    &:first-child {
        width: 450px;
        text-align: left;
        margin: 0;
    }

    &:nth-child(2) {
        margin-left: 10px;
    }

    &:nth-child(4) {
        color: $bg-color;
        font-weight: bold;
    }
}

@mixin h2 {
    float: left;
    width: 100px;
    margin-top: 5px;

}


.header-box,
#content,.shop-box {
    width: 1200px;
    margin: 0 auto;
}

#header {
    background: #fff;

    .header-box {
        height: 50px;
        // padding: 10px 0;
        background: #fff;

        .left {
            float: left;
            height: 40px;
            margin-top: 8px;

            a {
                float: left;
                width: 120px;
                height: 40px;

                img {
                    width: 100%;
                }
            }

            span {
                margin-left: 26px;
                font-size: 22px;
                line-height: 36px;
            }
        }

        .right {
            float: right;

            .list {
                width: 320px;
                height: 50px;
                background: url(../images/sprites.svg) -40px -21px no-repeat;
            }
        }
    }
}

#content {
    .login-prompt {
        line-height: 50px;
        color: $bg-color;
        height: 50px;
        border: 1px solid #eace85;
        background: #fffdee url(../images/icon.png) 20px 20px no-repeat;
        font-size: 12px;
        padding-left: 40px;
        margin-top: 10px;

        a {
            display: inline-block;
            width: 70px;
            height: 30px;
            background: $bg-color;
            color: #fff;
            text-align: center;
            line-height: 30px;
            border-radius: 2px;
        }
    }

    .sc-empty {
        margin: {
            top: 20px;
            bottom: 20px;
        };
        height: 365px;
        background: #fff;
        padding-top: 135px;

        i {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto 36px;
            background: url(../images/shop-empty.png)no-repeat;
        }

        p {
            text-align: center;
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 16px;
            color: #a4a4a4;
        }

        a {
            margin: 0 auto;
            display: block;
            width: 172px;
            height: 46px;
            text-align: center;
            line-height: 46px;
            background: $bg-color;
            color: #fff;
            font-size: 18px;
        }
    }

    .clearfix {
        height: 40px;
        background: #fff;
        margin-top: 20px;

        .checkbox {
            width: 150px;
            float: left;
            @include name;
            padding-left: 40px;
            margin: 0;

            &>input {
                @include input();
            }

            .checked {
                background-position: 0 -129px;
            }

        }

        .list-box {
            @include name;

            li {
                &:first-child {
                    width: 450px;
                    margin: 0;
                }

                float: left;
                width: 100px;
                margin-left: 35px;
            }
        }
    }

    .sc-pro-list {
        padding: 20px 0 0 40px;
        min-height: 354px;
        background: #fff;
        margin-top: 10px;

        &>label {
            float: left;
            margin: 43px 3px 0 0;
        }

        .input {
            @include input();
        }

        .checked {
            background-position: 0 -129px;
        }

        .sc-pro-area {
            float: left;
            width: 1130px;

            .sc-pro-main {
                height: 100px;
                margin-bottom: 30px;

                img {
                    width: 100px;
                    height: 100px;
                    float: left;
                    margin-right: 20px;
                }

                li {
                    @include li();
                }

                span {
                    display: block;
                    width: 100px;
                    text-align: center;
                }

                .p-stock-area {
                    background: none;
                    display: block;
                    border: 1px solid #d6d6d6;
                    border-radius: 2px;
                    margin: 0 auto;
                    width: 63px;
                    height: 44px;
                    margin-left: 35px;
                   
                    input {
                        float: left;
                        width: 41px;
                        height: 44px;
                        line-height: 44px;
                        font-size: 18px;
                        text-align: center;
                        outline: none;
                        background: none;
                        border: none;

                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                        &::selection{
                            background:transparent;
                        }
                    }

                    b {
                        float: left;
                        text-align: center;
                        font-size: 20px;
                        width: 20px;
                        height: 20px;
                        font-weight: bold;
                        outline: none;
                        cursor: pointer;
                        &::selection{
                            background:transparent;
                        }
                    }
                    .cat{
                        pointer-events:none;
                    }
                }
            }

            .sc-pro-parts {
                position: relative;
                width: 1090px;
                height: 196px;

                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #f5f5f5;
                    position: absolute;
                    top: -7px;
                    margin-left: 23px;
                    z-index: 2;
                }

                .p-service-area {
                    background: #f5f5f5;
                    padding: 14px 0 14px 20px;
                    margin-bottom: 2px;

                    &>h2 {
                        @include h2;
                    }

                    &>ul {
                        @include ul();
                        height: 28px;

                        li {
                            @include li;

                            &:nth-child(1) {
                                font-size: 12px;
                                color: #a4a4a4;
                            }

                        }
                    }
                }

                .p-service-info {
                    padding: 2px 5px;
                    width: 214px;
                    height: 24px;
                    position: relative;
                    &:hover{
                        background: #fff;
                        .p-list{
                            display: block;
                        }
                    }
                    .p-name {
                        float: left;

                        &>i {
                            color: #000;
                            padding: 2px 4px;
                            height: 14px;
                            font-size: 12px;
                            border: 1px solid #000;
                        }
                    }

                    .p-list {
                        position: absolute;
                        width: 600px;
                        height: 50px;
                        background: #fff;
                        top: 28px;
                        left: 0;
                        line-height: 50px;
                        padding-left: 20px;
                        display: none;
                        
                        &>h2 {
                            float: left;
                            color: #000;
                        }

                        &>ul>li {
                            color: #000;
                            width: 200px;
                            float: left;
                            margin-left: 20px;
                        }
                    }

                    .p-service-btn {
                        display: block;
                        float: right;
                        width: 14px;
                        height: 14px;
                        margin: 4px 10px;
                        background: url(../images/bg-2.png) -4px -5px no-repeat;
                    }

                    .p-service-hov {
                        background: url(../images/bg-2.png) no-repeat -5px -24px;
                    }
                }
            }

            .sc-pro-parts-list {
                height: 122px;
                background: #f5f5f5;
                padding: 16px 0 0 20px;

                &>h2 {
                    @include h2;
                }

                &>ul {
                    @include ul();
                    height: 40px;
                    margin-bottom: 20px;
                    float: right;
                }

                li {
                    min-height: 14px;
                    @include li;
                    line-height: 40px;

                    &>img {
                        float: left;
                        width: 36px;
                        height: 36px;
                        margin-right: 20px;
                        margin-top: 4px
                    }

                }
            }
        }
    }

    .sc-total-tool {
        height: 60px;
        background: #fff;
        margin-top: 10px;
        line-height: 60px;
        .checkbox{
            margin: {
                top: 0;
                bottom: 0;
            }
        }

        &>label {
            float: left;
            margin-left: 40px;
        }

        .input {
            @include input();
        }

        .checked {
            background-position: 0 -129px;
        }

        &>b {
            margin-left: 20px;
        }

        button {
            float: right;
            width: 180px;
            height: 60px;
            background: $bg-color;
            border: 0;
            outline: none;
            color: #fff;
            font-size: 20px;
        }

        .sc-total-price {
            width: 200px;
            height: 60px;
            float: right;
            margin-right: 30px;
            text-align: right;

            p {
                font-size: 14px;
                height: 27px;
                line-height: 27px;
                text-align: right;

                span {
                    font-size: 18px;
                    color: $bg-color;
                    font-weight: bold;
                }
            }

            .total {
                height: 33px;
                line-height: 33px;

                &>i {
                    margin: 0 5px;
                    color: $bg-color;
                }
            }
        }
    }

    
}
.shop-list-box{
    &>h2 {
        font-size: 18px;
        margin: 30px 6% 10px ;
    }
    .shop-box {
            height: 278px;
            background: #fff;
            padding: 20px 10px 18px;
            margin-bottom: 60px;
    
            .swiper {
                position: relative;
                width: 1160px;
                height: 240px;
                padding: 0 35px;
                overflow: hidden;
    
                &>span {
                    width: 9px;
                    height: 16px;
                    position: absolute;
                    margin-top: 110px;
                    background: url(../images/bg-3.png) no-repeat;
                }
    
                &>.left {
    
                    background-position: -27px -16px;
                    ;
                    left: 20px;
                }
    
                &>.right {
                    right: 20px;
                }
    
                .swiper-list {
                    width: 1332px;
                    position: absolute;
                    height: 240px;
    
                    .swiper-box {
                        text-align: center;
                        float: left;
                        width: 222px;
                        height: 240px;
    
    
                        &>img {
                            width: 134px;
                            height: 134px;
                        }
    
                        &>p {
                            margin: 6px auto 0;
                            width: 152px;
    
                            &:nth-child(3) {
                                color: $bg-color;
                            }
    
                            &>a {
                                line-height: 28px;
                                color: #3a3a3a;
                                margin: 0 auto;
                                width: 106px;
                                height: 28px;
                                display: block;
                                border: 1px solid #dddddd;
    
                                &:hover {
                                    background: $bg-color;
                                    color: #fff;
                                }
                            }
                        }
    
    
                    }
                }
            }
        }
    }
